<div class="row m-0 height-web">
  <div class="col1">
    <form class="col-sm pb-3">
      <input type="text" class="form-control" [formControl]="myControl">
    </form>
    <form>
      <h1>Question</h1>
      <input type="text" class="form-control" [formControl]="searchControl">
    </form>
    <ul>
      <li *ngFor="let item of suggestList">
          {{item}}
      </li>
    </ul>
  </div>
  <div class="col-sm">

    <!-- Example single danger button -->
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{selectedTxt}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="selectValue(typeSelect.isPrime)" href="#">{{typeSelect.isPrime}}</a>
        <a class="dropdown-item" (click)="selectValue(typeSelect.IsFibonacci)" href="#">{{typeSelect.IsFibonacci}}</a>
      </div>
    </div>

  </div>
  <div class="col3">
    {{isMatchWithType}}
  </div>
</div>